/* GENERICS */
[class*="col"] {
    min-height: 40px;
    padding: 10px;
    background-color: #006CFA;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.nested {
    background-color: #00e165;
    border: 1px solid #006CFA;
}

section {
    margin-bottom: 15px;
}

/* HEADER */

/* MAIN */

/* FOOTER */