/* GENERICS */
body {
    background-color: #dadada;
}

.black {
    background-color: black;
}

.white {
    background-color: #d1d1d1;
}

.grey1 {
    background-color: #262628;
}

.grey2 {
    background-color: #2c2d2f;
}

.grey3 {
    background-color: #37383a;
}

.grey4 {
    background-color: #58595c;
}

/* HEADER */

/* MAIN */

/* FOOTER */